._iu- i{
  background-image: url(https://dl.dropboxusercontent.com/u/103110690/appleemoji.png) !important;
}
._iu- span:nth-of-type(1) i{
  background-position: 0 -150px !important;
}
._iu- span:nth-of-type(2) i{
  background-position: 0 -200px !important;
}
._iu- span:nth-of-type(3) i{
  background-position: 0 -100px !important;
}
._iu- span:nth-of-type(4) i{
  background-position: 0 -250px !important;
}
._iu- span:nth-of-type(5) i{
  background-position: 0 -50px !important;
}
._iu- span:nth-of-type(6) i{
  background-position: 0 0 !important;
}
